<main class="main">
  <div class="site-container">
    <app-sendcart></app-sendcart>
    <ul class="navigation-route">
      <a routerLink="/"><li>Главная</li></a>
      /
      <a routerLink="basket/"><li>Корзина</li></a>
    </ul>
    <div class="basket" *ngIf="products.length > 0">
      <div class="header">
        <h2>Ваша корзина</h2>
        <span>{{ products.length }} предмет(а)</span>
      </div>
      <div class="cart">
        <a
          class="cart-item"
          routerLink="/products/{{ product.category.link }}/{{ product.id }}"
          *ngFor="let product of products"
        >
          <div class="img">
            <img [src]="serverURL + product.image[0]" alt="">
          </div>
          <div class="info">
            <div class="data">
              <h1>{{ product.title }}</h1>
              <div class="description">
                <p>Количество: <span>{{ product?.count ?? 0 }}</span></p>
                <p>Размер(Ш×Д×В):
                  <span>
                    {{ product.size.width }} СМ × {{ product.size.length }} СМ × {{ product.size.height }} СМ
                  </span>
                </p>
              </div>
            </div>
            <h2 class="price">{{ product.price * (product.count ?? 1) }}₽</h2>
          </div>
          <button class="delete" (click)="deleteFromCart(product, $event)">
            <img src="icons/delete.svg" alt="">
          </button>
        </a>
      </div>
      <div class="footer">
        <p>Итоговая стоимость: <span>{{ price }}₽</span></p>
        <button (click)="createCart()">Оформить заказ</button>
      </div>
    </div>
    <div class="basket" *ngIf="products.length === 0">
      <h1 class="is-empty">Ваша корзина пуста</h1>
    </div>
    <section class="you-like-section">
      <h2>Вам может понравиться</h2>
      <div class="items">
        <a
          class="item"
          routerLink="/products/{{ product.category.link }}/{{ product.id }}"
          *ngFor="let product of productsYouLike"
        >
          <img [src]="serverURL + product.image[0]" alt="img">
          <h1>{{ product.title }}</h1>
          <p>{{ product.category.title }}</p>
          <span>{{ product.price }}₽</span>
          <div class="extra">
            <p>Размеры</p>
            <div class="sizes">
              <div class="size">
                <p>Ширина</p>
                <span>{{ product.size.width }} см</span>
              </div>
              x
              <div class="size">
                <p>Глубина</p>
                <span>{{ product.size.length }} см</span>
              </div>
              x
              <div class="size">
                <p>Высота</p>
                <span>{{ product.size.height }} см</span>
              </div>
            </div>
            <button (click)="addToCart(product, $event)">Добавить в корзину</button>
          </div>
        </a >
      </div>
    </section>
  </div>
</main>
