@use 'mixins' as *;

.main {
  @include to-center();

  .navigation-route {
    padding: 20px 0;
  }

  padding: 0 15px;

  @include desktop-view() {
    padding: 0;
  }

  .is-empty {
    padding: 150px 0;
    text-align: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    h2 {
      font-weight: 400;
      font-size: 16px;
      color: var(--black-02)
    }

    span {
      font-weight: 400;
      font-size: 16px;
      color: var(--black-02)
    }
  }

  .cart {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;

    &-item {
      width: 100%;
      display: flex;
      justify-content: space-between;

      box-shadow: 0 2px 4px #00000012;

      text-decoration: none;

      h1 {
        color: var(--black-02);
      }

      .img {
        padding: 22px 20px;
        width: fit-content;
        height: 100%;
        @include to-center();
        img {
          width: 140px;
        }
      }

      .info {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .data {
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: center;
          flex-wrap: wrap;

          h1 {
            font-weight: 500;
            font-size: 16px;
          }

          .description {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;

            p {
              font-weight: 400;
              font-size: 12px;
              color: var(--black-02);
              display: flex;
              gap: 10px;

              span {
                color: #9E9E9E;
              }
            }
          }
        }

        .price {

          @include mobile-view() {
            position: absolute;
            right: 10px;
            transform: translateY(15px);
          }
          font-weight: 500;
          font-size: 16px;
          color: var(--black-02);
          display: flex;
          align-items: flex-start;
          padding: 20px;
        }
      }

      .delete {
        width: 57px;
        border: none;
        background-color: #F9F9F9;
        @include to-center();

        @include mobile-view() {
          position: absolute;

          width: 20px;
          height: 20px;
          right: 25px;
          transform: translateY(10px);
        }
        &:hover {
          transition: .2s;
          cursor: pointer;
          background-color: #D74444;
        }
      }

    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0;
    align-items: center;
    gap: 25px;

    @include mobile-view() {
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px;
    }

    button {
      background-color: #245462;
      color: white;
      padding: 13px 50px;

      border: none;

      &:hover {
        cursor: pointer;
      }
    }

    p {
      display: flex;
      gap: 15px;

      font-weight: 400;
      font-size: 14px;


      span {
        font-weight: 500;
        font-size: 16px;

      }
    }
  }

  .you-like-section {
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: 400;
      font-size: 16px;
    }

    .items {
      padding: 50px 0 ;
      gap: 30px;
      flex-wrap: wrap;
      @include to-center();
      justify-content: flex-start;
      padding-bottom: 150px;

      @include mobile-view() {
        padding: 50px 20px;
        flex-wrap: nowrap;
        overflow-x: auto;

      }

      .item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 20px;
        width: calc(25% - 30px);

        text-decoration: none;
        color: #414141;

        @include desktop-view() {
          &:nth-child(n+5) {
            display: none;
          }
        }

        @include laptop-view() {
          width: calc(33.33% - 30px);
          &:nth-child(n+4) {
            display: none;
          }
        }

        @include mobile-view() {
          width: calc(50% - 15px);
          gap: 15px;
          padding: 0;

          &:nth-child(n+1) {
            display: flex;
          }
        }

        background: white;
        box-shadow: 0 0 0 transparent;
        transition: box-shadow 0.3s ease;


        &:hover {
          cursor: pointer;
        }

        img {
          padding: 42px 12px;

          @include mobile-view() {
            padding: 10px 10px;
          }
        }

        h1 {
          font-size: 16px;
          font-weight: 500;
          @include laptop-view() {
            font-size: 18px;
          }
        }

        p {
          font-weight: 400;
          font-size: 11px;

          @include laptop-view() {
            font-size: 14px;
          }
        }

        span {
          font-weight: 500;
          font-size: 16px;
          color: #414141;

          @include laptop-view() {
            font-size: 18px;
          }
        }

        .extra {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background: white;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease, transform 0.1s ease;
          transform: translateY(10px);
          z-index: 10;
          padding: 16px 20px;
          box-shadow: 0px 12px 20px #0000001A; // визуально продолжаем основной box-shadow

          display: flex;
          flex-direction: column;
          gap: 8px;

          @include laptop-view() {
            display: none;
          }

          @include mobile-view() {
            display: none;
          }

          p {
            font-size: 14px;
            font-weight: 400;
          }

          .sizes {
            display: flex;
            justify-content: center;
            gap: 11px;
            font-weight: 400;

            .size {
              width: auto;
              text-transform: uppercase;
              font-size: 9px;

              p {
                color: #C4C4C4;
                font-size: 12px;
              }

              span {
                color: #414141;
                font-size: 12px;
              }
            }
          }

          button {
            margin-top: 10px;
            padding: 13px;
            color: white;
            background-color: #245462;
            border: none;

            &:hover {
              cursor: pointer;
            }
          }
        }

        &:hover {
          z-index: 20; // чтобы карточка вылезла поверх других
          box-shadow: 0 1px 9px #0000001C;

          .extra {
            opacity: 1;
            visibility: visible;
            transform: translateY(100%);
          }
        }
      }
    }
  }
}
