<footer class="footer">
  <div class="site-container">
    <div class="footer-collection">
      <div class="footer__navs">
        <h1>Навигация</h1>
        <div class="footer__navs-list">
          <ul>
            <a
              routerLink="/products/{{ category.link }}"
              *ngFor="let category of categories.slice(0, 3)"
            ><li>
              {{ category.title }}
            </li>
            </a>
          </ul>
          <ul>
            <a
              routerLink="/products/{{ category.link }}"
              *ngFor="let category of categories.slice(3, 6)"
            ><li>
              {{ category.title }}
            </li>
            </a>
          </ul>
          <ul>
            <a
              routerLink="/products/{{ category.link }}"
              *ngFor="let category of categories.slice(6, 10)"
            ><li>
              {{ category.title }}
            </li>
            </a>
          </ul>
        </div>

      </div>
      <div class="footer__contacts">
        <h1>LM</h1>
        <p>г. Анапа, Анапское шоссе, <br>30 Ж/К Черное море</p>
      </div>
    </div>
    <div class="contacts-other">
      <div class="links">
        <div class="footer__navs-footer">
          <a routerLink="/about">О нас</a>
          <a routerLink="/products">Товары</a>
        </div>
      </div>
      <div class="info">
        <div class="item">
          <img src="icons/black-phone.svg" alt="">
          <p>8 (964) 89 99 119</p>
        </div>
        <div class="item">
          <img src="icons/inst.svg" alt="">
          <p>INSTAGRAM</p>
        </div>
        <div class="item">
          <img src="icons/mail.svg" alt="">
          <p>mebel_loft_anapa{{ '@' }}mail.ru</p>
        </div>
      </div>
    </div>
  </div>
</footer>
