<footer class="footer">
  <div class="site-container">
    <div class="footer-collection">
      <div class="footer__navs">
        <h1>Навигация</h1>
        <div class="footer__navs-list">
          <ul>
            <a><li>Кухни</li></a>
            <a><li>Спальни</li></a>
            <a><li>Гостиные</li></a>
          </ul>
          <ul>
            <a><li>Прихожие</li></a>
            <a><li>Офисная мебель</li></a>
            <a><li>Детская</li></a>
          </ul>
          <ul>
            <a><li>Шкафы</li></a>
            <a><li>Матрасы</li></a>
            <a><li>Мягкая мебель</li></a>
          </ul>
        </div>

      </div>
      <div class="footer__contacts">
        <h1>LM</h1>
        <p>г. Анапа, Анапское шоссе, <br>30 Ж/К Черное море</p>
      </div>
    </div>
    <div class="contacts-other">
      <div class="links">
        <div class="footer__navs-footer">
          <a>Акция</a>
          <a>Новинки</a>
        </div>
      </div>
      <div class="info">
        <div class="item">
          <img src="icons/black-phone.svg" alt="">
          <p>8 (964) 89 99 119</p>
        </div>
        <div class="item">
          <img src="icons/inst.svg" alt="">
          <p>INSTAGRAM</p>
        </div>
        <div class="item">
          <img src="icons/mail.svg" alt="">
          <p>mebel_loft_anapa{{ '@' }}mail.ru</p>
        </div>
      </div>
    </div>
  </div>
</footer>
