@use 'mixins' as *;

.main {
  @include to-center;

  padding: 30px 0;
  @include mobile-view() {
    padding: 30px 15px;
  }



  h1 {
    margin-top: 40px;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 400;

    @include mobile-view() {
      font-size: 16px;
    }
  }

  .content {
    width: 100%;
    display: flex;

    @include mobile-view() {
      flex-direction: column;
      gap: 45px;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .inputs {
        display: flex;
        width: 90%;
        gap: 10px;

        @include mobile-view() {
          flex-direction: column;
          width: 100%;
        }
        .input {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          color: #969696;

          input {
            width: 100%;
            height: 40px;
            border: none;
            outline: none;
            box-shadow: inset 1px 1px 5px #00000012;
            background-color: #FCFCFC;
            padding-left: 10px;
            font-size: 20px;
            color: #767676;
          }
        }
      }

      .textarea-block {
        display: flex;
        flex-direction: column;
        width: 90%;

        color: #969696;
        gap: 5px;

        @include mobile-view() {
          width: 100%;
        }

        textarea {
          resize: none;
          border: none;
          outline: none;
          box-shadow: inset 1px 1px 5px #00000012;
          background-color: #FCFCFC;
          padding: 10px
        }
      }

      .buttons {
        width: 90%;
        display: flex;
        justify-content: flex-end;

        gap: 20px;

        @include mobile-view() {
          width: 100%;
        }

        input[type="file"] {
          display: none;
        }

        .custom-file-upload {
          display: inline-block;
          padding: 13px 20px;
          background-color: #fff;
          color: #414141;
          border-radius: 4px;
          cursor: pointer;
          font-weight: 500;
          font-family: sans-serif;
          transition: 0.3s ease;
          box-shadow: 0 2px 4px #00000012;
        }

        button {
          background-color: #245462;
          color: #fff;
          padding: 13px 20px;
          border: none;
          box-shadow: 0 2px 4px #00000012;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .contacts {
      display: flex;
      gap: 18px;
      align-items: flex-start;
      height: 100%;
      flex-wrap: wrap;

      @include mobile-view() {
        flex-direction: column;

        p {
          font-size: 10px;
        }
      }
      .social {
        display: flex;
        gap: 10px;
        align-items: center;

        @include mobile-view() {
          font-size: 10px;
        }
        img {
          width: 15px;
          height: 15px;

          @include mobile-view() {
            width: 10px;
            height: 10px;
          }
        }


      }
    }
  }

}
