<input type="radio" name="slider" id="slide1" checked>
<input type="radio" name="slider" id="slide2">
<input type="radio" name="slider" id="slide3">

<div class="slider">
  <div class="slider-wrapper">
    <div class="slides">
      <div class="slide">
        <img src="slider1.png" alt="">
        <div class="content">
          <h1>Loft Мебель</h1>
          <p>Современная и удобная мебель в Анапе</p>
          <a routerLink="/products">Смотреть каталог</a>
        </div>
      </div>
      <div class="slide">
        <img src="slider2.png" alt="">
        <div class="content">
          <h2>Современная и удобная мебель</h2>
          <a routerLink="/products">Смотреть каталог</a>
        </div>
      </div>
      <div class="slide">
        <img src="slider1.png" alt="">
        <div class="content">
          <h2 class="slide3-text">Современная и удобная мебель</h2>
          <h4 class="slide3-text">С доставкой по Краснодарскому краю</h4>

        </div>
      </div>
    </div>

    <!-- Стрелки при состоянии slide1 -->
    <div class="arrows arrows-1">
      <label class="nav-btn prev" for="slide3">&#10094;</label>
      <label class="nav-btn next" for="slide2">&#10095;</label>
    </div>

    <!-- Стрелки при состоянии slide2 -->
    <div class="arrows arrows-2">
      <label class="nav-btn prev" for="slide1">&#10094;</label>
      <label class="nav-btn next" for="slide3">&#10095;</label>
    </div>

    <!-- Стрелки при состоянии slide3 -->
    <div class="arrows arrows-3">
      <label class="nav-btn prev" for="slide2">&#10094;</label>
      <label class="nav-btn next" for="slide1">&#10095;</label>
    </div>
  </div>
</div>
