<main class="main">
  <div class="site-container">
    <app-slider></app-slider>
    <h2 class="title">Хиты продаж</h2>
    <div class="container">
      <a class="item" routerLink="products/chairs/1">
        <img src="assets/chair.png" alt="img">
        <h1>Валенсия Beige</h1>
        <p>Барные стулья</p>
        <span>2 300₽</span>
        <div class="extra">
          <p>Размеры</p>
          <div class="sizes">
            <div class="size">
              <p>Ширина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Глубина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Высота</p>
              <span>77 см</span>
            </div>
          </div>
          <button>Добавить в корзину</button>
        </div>
      </a >
      <a class="item" routerLink="products/chairs/1">
        <img src="assets/chair.png" alt="img">
        <h1>Валенсия Beige</h1>
        <p>Барные стулья</p>
        <span>2 300₽</span>
        <div class="extra">
          <p>Размеры</p>
          <div class="sizes">
            <div class="size">
              <p>Ширина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Глубина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Высота</p>
              <span>77 см</span>
            </div>
          </div>
          <button>Добавить в корзину</button>
        </div>
      </a >
      <a class="item" routerLink="products/chairs/1">
        <img src="assets/chair.png" alt="img">
        <h1>Валенсия Beige</h1>
        <p>Барные стулья</p>
        <span>2 300₽</span>
        <div class="extra">
          <p>Размеры</p>
          <div class="sizes">
            <div class="size">
              <p>Ширина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Глубина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Высота</p>
              <span>77 см</span>
            </div>
          </div>
          <button>Добавить в корзину</button>
        </div>
      </a >
      <a class="item" routerLink="products/chairs/1">
        <img src="assets/chair.png" alt="img">
        <h1>Валенсия Beige</h1>
        <p>Барные стулья</p>
        <span>2 300₽</span>
        <div class="extra">
          <p>Размеры</p>
          <div class="sizes">
            <div class="size">
              <p>Ширина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Глубина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Высота</p>
              <span>77 см</span>
            </div>
          </div>
          <button>Добавить в корзину</button>
        </div>
      </a >
      <a class="item" routerLink="products/chairs/1">
        <img src="assets/chair.png" alt="img">
        <h1>Валенсия Beige</h1>
        <p>Барные стулья</p>
        <span>2 300₽</span>
        <div class="extra">
          <p>Размеры</p>
          <div class="sizes">
            <div class="size">
              <p>Ширина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Глубина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Высота</p>
              <span>77 см</span>
            </div>
          </div>
          <button>Добавить в корзину</button>
        </div>
      </a >
      <a class="item" routerLink="products/chairs/1">
        <img src="assets/chair.png" alt="img">
        <h1>Валенсия Beige</h1>
        <p>Барные стулья</p>
        <span>2 300₽</span>
        <div class="extra">
          <p>Размеры</p>
          <div class="sizes">
            <div class="size">
              <p>Ширина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Глубина</p>
              <span>43 см</span>
            </div>
            x
            <div class="size">
              <p>Высота</p>
              <span>77 см</span>
            </div>
          </div>
          <button>Добавить в корзину</button>
        </div>
      </a >
    </div>
  </div>
</main>
