<main class="main">
  <div class="site-container">
    <ul class="navigation-route">
      <a><li>Главная</li></a>
      /
      <a><li>Гостинные</li></a>
      /
      <a><li>Мягкая мебель</li></a>
      /
      <a><li>Диваны</li></a>
    </ul>

    <div class="container">
      <app-gallery></app-gallery>
      <div class="description">
        <div class="stars">
          <img src="icons/star full.svg" alt="">
          <img src="icons/star full.svg" alt="">
          <img src="icons/star full.svg" alt="">
          <img src="icons/star full.svg" alt="">
          <img src="icons/star not full.svg" alt="">
        </div>
        <h1>Динс Velvet Yellow</h1>
        <a>Диваны</a>
        <div class="section">
          <span>4 690₽</span>
          <button>Купить</button>
        </div>
        <div class="section">
          <div class="input">
            <label for="count">Количество</label>
            <input type="text" id="count" name="count" value="1">
          </div>
          <div class="input">
            <label for="size">Размер (Д × Ш × В)</label>
            <input type="text" id="size" name="size" value="218 СМ × 95 СМ × 90 СМ" readonly>
          </div>
        </div>
        <div class="info">
          <h4>Описание</h4>
          <p>Лаконичные линии и простые формы, безупречный стиль и индивидуальность – все это диван «Динс». Сдержанный скандинавский дизайн украсит любую современную обстановку. Элегантность, комфорт и функциональность, собранные воедино – «Динс» просто создан для размеренного отдыха в кругу семьи или компании друзей!</p>
        </div>
      </div>
    </div>
    <div class="hits">
      <h1 class="section-title">Хиты продаж</h1>
      <div class="items">
        <a class="item" routerLink="products/chairs/1">
          <img src="assets/chair.png" alt="img">
          <h1>Валенсия Beige</h1>
          <p>Барные стулья</p>
          <span>2 300₽</span>
          <div class="extra">
            <p>Размеры</p>
            <div class="sizes">
              <div class="size">
                <p>Ширина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Глубина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Высота</p>
                <span>77 см</span>
              </div>
            </div>
            <button>Добавить в корзину</button>
          </div>
        </a >
        <a class="item" routerLink="products/chairs/1">
          <img src="assets/chair.png" alt="img">
          <h1>Валенсия Beige</h1>
          <p>Барные стулья</p>
          <span>2 300₽</span>
          <div class="extra">
            <p>Размеры</p>
            <div class="sizes">
              <div class="size">
                <p>Ширина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Глубина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Высота</p>
                <span>77 см</span>
              </div>
            </div>
            <button>Добавить в корзину</button>
          </div>
        </a >
        <a class="item" routerLink="products/chairs/1">
          <img src="assets/chair.png" alt="img">
          <h1>Валенсия Beige</h1>
          <p>Барные стулья</p>
          <span>2 300₽</span>
          <div class="extra">
            <p>Размеры</p>
            <div class="sizes">
              <div class="size">
                <p>Ширина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Глубина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Высота</p>
                <span>77 см</span>
              </div>
            </div>
            <button>Добавить в корзину</button>
          </div>
        </a >
        <a class="item" routerLink="products/chairs/1">
          <img src="assets/chair.png" alt="img">
          <h1>Валенсия Beige</h1>
          <p>Барные стулья</p>
          <span>2 300₽</span>
          <div class="extra">
            <p>Размеры</p>
            <div class="sizes">
              <div class="size">
                <p>Ширина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Глубина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Высота</p>
                <span>77 см</span>
              </div>
            </div>
            <button>Добавить в корзину</button>
          </div>
        </a >
        <a class="item" routerLink="products/chairs/1">
          <img src="assets/chair.png" alt="img">
          <h1>Валенсия Beige</h1>
          <p>Барные стулья</p>
          <span>2 300₽</span>
          <div class="extra">
            <p>Размеры</p>
            <div class="sizes">
              <div class="size">
                <p>Ширина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Глубина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Высота</p>
                <span>77 см</span>
              </div>
            </div>
            <button>Добавить в корзину</button>
          </div>
        </a >
        <a class="item" routerLink="products/chairs/1">
          <img src="assets/chair.png" alt="img">
          <h1>Валенсия Beige</h1>
          <p>Барные стулья</p>
          <span>2 300₽</span>
          <div class="extra">
            <p>Размеры</p>
            <div class="sizes">
              <div class="size">
                <p>Ширина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Глубина</p>
                <span>43 см</span>
              </div>
              x
              <div class="size">
                <p>Высота</p>
                <span>77 см</span>
              </div>
            </div>
            <button>Добавить в корзину</button>
          </div>
        </a >
      </div>
    </div>
  </div>
</main>
