<main class="main">
  <div class="site-container">
    <ul class="navigation-route">
      <a routerLink="/"><li>Главная</li></a>
      /
      <a routerLink="/products/{{currentItem.category.link}}"><li>{{ currentItem.category.title }}</li></a>
    </ul>

    <div class="container">
      <app-gallery [images]="currentItem.image"></app-gallery>
<!--      <app-gallery></app-gallery>-->
      <div class="description">
        <div class="stars">
          <img src="icons/star full.svg" alt="">
          <img src="icons/star full.svg" alt="">
          <img src="icons/star full.svg" alt="">
          <img src="icons/star full.svg" alt="">
          <img src="icons/star not full.svg" alt="">
        </div>
        <h1>{{ currentItem.title }}</h1>
        <a routerLink="/products/{{ currentItem.category.link }}">{{ currentItem.category.title }}</a>
        <div class="section">
          <span>{{ currentItem.price * countItem }}₽</span>
          <button (click)="addToCart(currentItem, $event, countItem)">Купить</button>
        </div>
        <div class="section">
          <div class="input">
            <label for="count">Количество</label>
            <input
              type="number"
              id="count"
              name="count"
              value="1"
              min="1"
              [(ngModel)]="countItem"
              appPositiveNumberOnly
            >
          </div>
          <div class="input">
            <label for="size">Размер (Д × Ш × В)</label>
            <input type="text" id="size" name="size"
                   value="{{ currentItem.size.width }} СМ × {{ currentItem.size.length}} СМ × {{ currentItem.size.height }} СМ" readonly>
          </div>
        </div>
        <div class="info">
          <h4>Описание</h4>
          <p>{{ currentItem.description }}</p>
        </div>
      </div>
    </div>
    <div class="hits">
      <h1 class="section-title">Хиты продаж</h1>
      <div class="items">
        <a class="item" routerLink="/products/{{ product.category.link }}/{{ product.id }}" *ngFor="let product of hitsProducts">
          <img [src]="serverURL + product.image[0]" alt="img">
          <h1>{{ product.title }}</h1>
          <p>{{ product.category.title }}</p>
          <span>{{ product.price }}₽</span>
          <div class="extra">
            <p>Размеры</p>
            <div class="sizes">
              <div class="size">
                <p>Ширина</p>
                <span>{{ product.size.width }} см</span>
              </div>
              x
              <div class="size">
                <p>Глубина</p>
                <span>{{ product.size.length }} см</span>
              </div>
              x
              <div class="size">
                <p>Высота</p>
                <span>{{ product.size.height }} см</span>
              </div>
            </div>
            <button (click)="addToCart(product, $event)">Добавить в корзину</button>
          </div>
        </a >
      </div>
    </div>
  </div>
</main>
