<header class="header">
  <nav class="header__nav">
    <div class="site-container container">
      <ul>
        <a *ngFor="let link of mainLinks" routerLink="{{ link.link }}"><li>{{ link.title }}</li></a>
      </ul>
      <div class="info">
        <div class="item">
          <img src="icons/phone.svg" alt="">
          <p>8 (964) 89 99 119</p>
        </div>
        <div class="item">
          <img src="icons/delivery.svg" alt="notimg">
          <a>Доставка</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="search-block">
    <div class="site-container container search">
      <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
      <label class="m-menu__toggle" for="menu">
        <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1" stroke-linecap="butt" stroke-linejoin="arcs"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </label>
      <label class="m-menu__overlay" for="menu"></label>

      <div class="m-menu">
        <div class="m-menu__header">
          <span>Меню</span>
          <label class="m-menu__toggle circle" for="menu">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#BFBFBF" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </label>
        </div>
        <ul>
          <a *ngFor="let link of mainLinks" routerLink="{{ link.link }}">
            <li>
              <img src="{{ link.image }}" alt="">
              <label>{{ link.title }}</label>
            </li>
          </a>
        </ul>
        <h2>Категории</h2>
        <ul>
          <a *ngFor="let cat of categories" routerLink="products/{{ cat.link }}">
            <li>
              <img src="{{ serverURL + cat.image }}" alt="">
              <label>{{ cat.title }}</label>
            </li>
          </a>
        </ul>
      </div>
      <a routerLink="/" class="logo"><img src="LOGO.svg" alt=""></a>
      <form action="search/" class="search-block__input">
        <img src="icons/search-icon.svg" alt="">
        <input type="text" placeholder="Поиск" name="q" [value]="inputValue">
      </form>
      <div class="search-block__delivery">
        <img src="icons/delivery-black.svg" alt="notimg">
        <a>Доставка</a>
      </div>
      <a routerLink="/basket/" class="search-block__bag">
        <img src="icons/bag.svg" alt="">
      </a>
    </div>
  </div>
  <div class="categories">
    <div class="site-container">
      <ul class="container">
        <a *ngFor="let category of categories" class="item" (click)="updateRouter(category.title)" routerLink="products/{{ category.link }}">
          <img src="{{ serverURL + category.image }}" alt="">
          <li>{{ category.title }}</li>
        </a>
        <div class="kebab-wrapper">
          <input type="checkbox" id="menu-toggle" class="kebab-toggle" />
          <label for="menu-toggle" class="kebab-icon">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <div class="kebab-menu">
            <a href="#">Новинки</a>
            <a href="#">Шкафы</a>
            <a href="#">Матрасы</a>
            <a href="#">Мягкая мебель</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</header>
