<main class="main">
  <div class="site-container">
    <div class="panel">
      <h1>Админ-панель</h1>
      <div class="content">
        <div class="block">
          <h2>Категории</h2>
          <div class="items"></div>
          <div class="buttons">
            <button>Удалить</button>
            <button>Добавить новый</button>
          </div>
        </div>
        <div class="block">
          <h2>Товары</h2>
          <div class="items"></div>
          <div class="buttons">
            <button>Удалить</button>
            <button>Добавить новый</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
