<main class="main">
  <div class="site-container">
    <div class="surface" [class.active]="isShowModal" (click)="closeModal()">

    </div>

    <div class="category-modal" [class.active]="isShowModal">
      <form *ngIf="chosedCategory === 'Category'" [formGroup]="categoryForm" (ngSubmit)="createNewObject()">
        <h2>{{ titleModal }}</h2>
        <div class="input" *ngFor="let field of formCategoryGetter">
          <div *ngIf="field !== 'image'" class="input">
            <label for="{{ field }}">{{ field | titlecase }}</label>
            <input
              type="text"
              id="{{ field }}"
              name="{{ field }}"
              [formControlName]="field"
            />
          </div>
          <div *ngIf="field === 'image'">
            <div class="input">
              <label class="custom-file-upload">
                <input type="file" (change)="onFileSelected($event, 'Category')" />
                Прикрепить фото
              </label>
            </div>
          </div>
        </div>
        <div class="input">
          <button *ngIf="titleModal.includes('Добавление') " type="submit">Создать</button>
          <div class="buttons" *ngIf="titleModal.includes('Изменение')" >
            <button>Удалить</button>
            <button type="submit">Изменить</button>
          </div>
        </div>
      </form>

      <form *ngIf="chosedCategory === 'Item'" [formGroup]="itemForm" (ngSubmit)="createNewObject()">
        <h2>{{ titleModal }}</h2>
        <div class="input" *ngFor="let field of formItemGetter">
          <div *ngIf="field !== 'image' && field !== 'category' " class="input">
            <label for="{{ field }}">{{ field | titlecase }}</label>
            <input
              type="text"
              id="{{ field }}"
              name="{{ field }}"
              [formControlName]="field"
            />
          </div>

          <div *ngIf="field === 'category' " class="input">
            <label for="{{ field }}">{{ field | titlecase }}</label>
            <select
              type="text"
              id="{{ field }}"
              name="{{ field }}"
              [formControlName]="field"
            >
              <option *ngFor="let category of categories" [value]="category.link">
                {{ category.link }}
              </option>
            </select>
          </div>

          <div *ngIf="field === 'image'">
            <div class="input">
              <label class="custom-file-upload">
                <input type="file" (change)="onFileSelected($event, 'Item')" />
                Прикрепить фото
              </label>
            </div>
          </div>
        </div>
        <div class="input">
          <button *ngIf="titleModal.includes('Добавление') " type="submit">Создать</button>
          <div class="buttons" *ngIf="titleModal.includes('Изменение')" >
            <button>Удалить</button>
            <button type="submit">Изменить</button>
          </div>
        </div>
      </form>
    </div>



    <div class="panel">
      <h1>Админ-панель</h1>
      <div class="content">
        <div class="block">
          <h2>Категории</h2>
          <div class="items">
            <div (click)="showDetails(category)" class="item" *ngFor="let category of categories">
              <img src="{{ serverURL + category.image }}">
              <p>{{ category.title }}</p>
            </div>
          </div>
          <div class="buttons">
            <button (click)="showModal('Category')">Добавить новый</button>
          </div>
        </div>
        <div class="block">
          <h2>Товары</h2>
          <div class="items">
            <div (click)="showDetails(product)" class="item product" *ngFor="let product of products">
              <img [src]="serverURL + product.image" alt="">
              <h3>{{ product.title }}</h3>
            </div>
          </div>
          <div class="buttons">
            <button (click)="showModal('Item')">Добавить новый</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
