<main class="main">
  <div class="site-container">
    <section class="container">
      <div class="info">
        <h1>О магазине</h1>
        <h2>Интернет-магазин «Лофт Мебель»: купите хорошую мебель в один клик!</h2>
        <p>Уникальный формат интернет-магазина позволит вам купить лучшую мебель крупнейших российских фабрик максимально быстро и по выгодной цене! <br><br>Мы благодарим за доверие более десятка производителей, которые дали нам возможность представлять лучшие образцы их продукции в российском интернет-пространстве. Прямые договоры на поставку мебели с фабрик обеспечивают наиболее привлекательные условия для наших покупателей.</p>
      </div>
      <div class="img">
        <img src="about sofa.png" alt="">
      </div>
    </section>
    <section class="additions">
      <h1>Покупайте с выгодой</h1>

      <div class="proses">
        <div class="pros">
          <img src="icons/profit.svg" alt="">
          <div class="info">
            <h2>Лучшая цена</h2>
            <p>Предлагаем близкие к оптовым цены, которые дают возможность приобретать мебель дешевле, чем в розничных салонах и шоу-румах.</p>
          </div>
        </div>
        <div class="pros">
          <img src="icons/big car.svg" alt="">
          <div class="info">
            <h2>Прямые поставки</h2>
            <p>С ведущих мебельных фабрик уменьшают срок
              выполнения вашего заказа, даже если речь идет об изготовлении предметов по
              индивидуальному проекту.
            </p>
          </div>
        </div>
        <div class="pros">
          <img src="icons/time.svg" alt="">
          <div class="info">
            <h2>Экономие времени</h2>
            <p>Не нашли оптимальный вариант или нет
              времени на поиски? Оставьте онлайн-заявку с критериями, и мы предложим вам
              несколько достойных образцов.
            </p>
          </div>
        </div>
        <div class="pros">
          <img src="icons/production.svg" alt="">
          <div class="info">
            <h2>Изготовление на заказ</h2>
            <p>Принимаем заявки на изготовление
              мебели по персональному дизайн-проекту от покупателей из любой точки России.
              Просим быть готовыми к авансированной оплате персональных заказов.
            </p>
          </div>
        </div>
      </div>
    </section>

  </div>
  <section class="more-pros">
    <div class="site-container">
      <div class="desk">
        <div class="info">
          <h1>Самые «вкусные» предложения</h1>
          <div class="stick"></div>
          <p>Мы делаем всё
            необходимое, чтобы покупатели получали доступ к актуальным новинкам, которые
            представляет российский мебельный рынок. Познакомиться с каждой моделью,
            сравнить цены на аналоги и выбрать лучшее вы можете прямо сейчас. Хотите
            первыми узнавать о самых выгодных предложениях? Тогда подписывайтесь на
            информационную рассылку!</p>
        </div>
        <div class="info">
          <h1>Гарантированное качество</h1>
          <div class="stick"></div>
          <p>Вся продукция сопровождается
            гарантией производителя. В каталогах представлена только сертифицированная
            мебель. Собственный контроль качества тщательно проверяет каждый образец
            перед отправкой заказчику. Покупатели получают необходимые документы –
            гарантийный талон и чек.</p>
        </div>
        <div class="info">
          <h1>Впечатляющий ассортимент</h1>
          <div class="stick"></div>
          <p>Ежедневно мы выбираем для
            наших каталогов идеальные образцы из товарной матрицы производителей по всей
            России. Модные расцветки, экологически безопасные материалы, надежные
            комплектующие – у нас вы найдете мебель своей мечты!
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="site-container">
    <section class="additions">
      <div class="info-blocks">
        <div class="info-blocks-item">
          <img src="icons/coop.svg" alt="">
          <h1>Особенные условия для оптовиков</h1>
          <p>Число наших оптовых
            покупателей неуклонно возрастает и всё потому, что мы сумели предложить
            владельцам мебельных магазинов наиболее выгодные условия.</p>
        </div>
        <div class="info-blocks-item">
          <img src="icons/delivery-box.svg" alt="">
          <h1>Оперативная доставка</h1>
          <p>Собственная курьерская служба
            быстро привезет купленную мебель по указанному адресу. В российские регионы
            доставка осуществляется силами транспортных компаний.</p>
        </div>
        <div class="info-blocks-item">
          <img src="icons/delivery-box.svg" alt="">
          <h1>Внимательный сервис</h1>
          <p>Квалифицированные менеджеры
            интернет-магазина ответят на все вопросы по ассортименту и предоставляемым
            возможностям, а также помогут оформить заказ и проконтролируют реализацию
            клиентских пожеланий при заказе мебели.
          </p>
        </div>
        <div class="info-blocks-item">
          <img src="icons/delivery-box.svg" alt="">
          <h1>Каждый пятый покупатель заказывает у нас
            повторно! </h1>
          <p>И мы благодарим всех, кто воспользовался нашим уникальным предложением, заказал мебель быстро и недорого и порекомендовал
            друзьям и
            знакомым.
          </p>
        </div>
      </div>
    </section>
    <h1 class="title">Мы поможем сэкономить время, силы и деньги!</h1>
    <div class="more-pros no-blue">
      <div class="items">
        <div class="item">
          <img src="icons/ok ico.svg" alt="">
          <div class="info">
            <h1>Время.</h1>
            <p>Примем вашу заявку в кротчайшие сроки. При необходимости
              подберем для вас достойные варианты по заданным критериям.</p>
          </div>
        </div>
        <div class="item">
          <img src="icons/ok ico.svg" alt="">
          <div class="info">
            <h1>Силы.</h1>
            <p>Закупим оптом или закажем на фабрике, избавив от длительных
              обсуждений заказа с исполнителем. Курируем все этапы работы над
              заказом. </p>
          </div>
        </div>
        <div class="item">
          <img src="icons/ok ico.svg" alt="">
          <div class="info">
            <h1>Деньги.</h1>
            <p>Вы точно купите мебель дешевле, чем в розницу.</p>
          </div>
        </div>
      </div>
    </div>
    <h1 class="title endtitle">На чем мы не экономим?
      На вашем комфорте и
      качестве мебели!</h1>
  </div>

</main>
