<main class="main">
  <div class="site-container">
    <div class="container">
      <a *ngFor="let product of products" class="item" routerLink="/products/{{ product.category.link }}/{{product.id}}">
        <img src="{{ serverURL + product.image[0] }}" alt="img">
        <h1>{{ product.title }}</h1>
        <p>{{ product.category.title }}</p>
        <span>{{ product.price }}₽</span>
        <div class="extra">
          <p>Размеры</p>
          <div class="sizes">
            <div class="size">
              <p>Ширина</p>
              <span>{{ product.size.width }} см</span>
            </div>
            x
            <div class="size">
              <p>Глубина</p>
              <span>{{ product.size.length }} см</span>
            </div>
            x
            <div class="size">
              <p>Высота</p>
              <span>{{ product.size.height }} см</span>
            </div>
          </div>
          <button (click)="addToCart(product, $event)">Добавить в корзину</button>
        </div>
      </a>
    </div>
  </div>
</main>
